{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-xxl py-5">
    <div class="container">
        {% if messages %}
        <div class="container mt-3 ">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} text-center" style="background-color:rgb(236, 10, 10); color: #fcf9f9; ">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3 ">Profile</h6>
            <h1 class="mb-5">Profile</h1>
        </div>
        <!-- <div class="row g-4">
            <div class="col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.5s"> -->
                <div class="container d-flex justify-content-center align-items-center ">
                    <div class="profile-container text-center mb-5">
                        <img src="{{ profile.profile.url }}" alt="Profile Image" class="rounded-circle shadow" width="150" height="150">
                        <h2 class="mt-3 font-weight-bold ">{{ profile.fullname }}</h2>
                        <h4 class="text-secondary">{{ profile.first_name }} {{ profile.last_name }}</h4>
                        <p class="text-muted"><i class="fa fa-envelope me-2"></i> Email: {{ profile.email }}</p>
                        <p class="text-muted"><i class="fa fa-phone me-2"></i> Phone: {{ profile.phone }}</p>
                        <p class="text-muted"><i class="fa fa-map-marker-alt me-2"></i> Address: {{ profile.address }}</p>
                        
                        <!-- Buttons in one line -->
                        <div class="d-flex justify-content-center mt-3">
                            <a href="{% url 'edit_profile' %}" class="btn btn-warning btn-sm shadow mr-2">Edit Profile</a>
                        </div>
                    </div>
                </div>
            <!-- </div>
        </div> -->
    </div>
</div>


{% endblock %}
